@use "./partials/reset.scss";
@use "./partials/utility.scss";
@use "./partials/variables.scss" as *;

body {
  background-color: $blue-200;

  color: white;
}
.images {
  display: flex;
  flex-wrap: wrap;
  img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}
.container {
  display: flex;
}
h2 {
  text-align: center;
}
