@use "variables.scss" as *;

body {
  font-family: "Bebas Neue", sans-serif;
}
.images {
  flex-wrap: wrap;
  margin: 0 -10px;
  .img-container {
    width: calc(100% / 6 - 20px);
    margin: 10px;

    img {
      height: 400px;
    }
  }
}
.star-vote {
  display: flex;
}
